@media (max-width:1440px) {
h1{
    font-size: 20px;
}
}


@media (max-width: 768px) {

    h3 {
        display: none;
    }



    .texto {
        display: flex;
        flex-direction: column-reverse;
        font-size: 35px;
    }


    .body main section {
        display: grid;
        grid-template-columns: 1fr;
        margin: 80px;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr;

        h1 {
            font-size: 20px;
        }
    }

    .cards__tarjeta {
        margin: 80px;
        margin-right: 120px;
    }

    .caja {
        width: 370px height 370px;
    }
}

@media (max-width: 320px) {
    ul {
        display: none;
    }

    .ajuste-transform img {
        margin-right: 250px;
    }
 .orden {
   display: grid;
   grid-template-columns: 1fr;
   color: crimson;
}


    .body {
        grid-template-columns: 1fr;
        margin-left: 150px;
    }
}