
footer {
    color: rgb(248, 248, 248);
}

p {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

.position {
    position: relative;
}

.cuadradito {
    width: 150px;
    height: 150px;
}


.tarjetas img {
    border-radius: 10px;
    margin-bottom: 20px;
}



.card__item1 {
    position: relative;
    border-radius: 20px;
}


.card__item2 {
    position: relative;
}

.card__item3 {
    position: relative;
}

.card__item4 {
    position: relative;
}

.card__item5 {
    position: relative;
}

.card__item6 {
    position: relative;
}

.card__item7 {
    position: relative;
}

.card__item8 {
    position: relative;
}

.card__item9 {
    position: relative;
}





.card__descrepcion {
    margin-bottom: 30px;
    font-size: 20px;
}

.card link {
    background-color: forestgreen;
}

.card__header small {
    background-color: rgba(225, 255, 225, 0.5);
    color: rgb(1, 0, 7);
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.ajuste {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center
}




footer {
    color: rgb(202, 6, 6);
}

p {
    color: rgb(50, 2, 59);

}

a {
    color: black;
}

.video {
    display: grid;
}

@media (max-width: 768px) {

    h3 {
        display: none;
    }

    h2 {
        display: none;
    }

    .texto {
        display: flex;
        flex-direction: column;
        margin-right: 150px;
    }

    .centro {
        display: flex;
        flex-direction: column-reverse;
    }

    .video {
        display: none;
    }

    .centrado {
        width: 260px;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        margin: 80px;
    }


    .header {
        display: none;
    }

    .cards__tarjeta {
        margin: 80px;
        margin-right: 120px;
    }

    .caja {
        width: 370px;
        height: 370px;
    }
}



@media (max-width: 320px) {
    ul {
        display: none;
    }

    .ajuste-transform img {
        margin-right: 250px;
    }

    .centrado {
        grid-template-columns: 1fr;
        margin-left: 150px;
    }

    .centro {
        display: none;
    }

    .cards__tarjeta {
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 10px;
        margin-left: 10px;
    }

    .grid {
        margin-right: 150px;
    }

    .texto {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
}